{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Post Detail {{ object.title}}{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.author }} | {{ object.publish }}</p>
<p>{{ object.description }}</p>

<h4>Comments</h4>
{% for comment in post.comments.all %}
    <ul>{{ comment.author }}| {{ comment }}</ul>
{% endfor %}

<h4>Add Comment</h4>
<form action="" method="post">{% csrf_token %}
    {{ form| crispy }}
    <button type="submit">Add</button>
</form>
<br>
{% if object.author == request.user %}
    <a href="{% url 'posts_edit' object.pk %}">+Edit</a>
    <a href="{% url 'posts_delete' object.pk %}">-Delete</a>
{% endif %}

<p><a href="{% url 'posts_list' %}">All Posts</a></p>
{% endblock %}