{% extends "base.html" %}

{% block title %}Post Lists{% endblock %}

{% block content %}
{% for post in posts %}
    <h3>author: {{ post.author }}</h3>
    <h4>title: {{ post.title }}</h4>
    <p>description: {{ post.description }}</p>
<div>
    {% for comment in post.comments.all %}
        <ul>{{ comment.author }} | {{ comment }}</ul>
    {% endfor %}
</div>
    {% if post.author == request.user %}
    <a href="{% url 'posts_edit' post.pk %}">+Edit</a>
    <a href="{% url 'posts_delete' post.pk %}">-Delete</a>
    {% endif %}

{% endfor %}

{% endblock %}